body {
    background-image: url("https://github.com/learn-academy-2023-hotel/preparedness-assessment-JacksonPruett/blob/main/preparedness-frontend/src/assets/background-image.jpeg?raw=true");
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
  }

.entire-content h1 {
    color: white;
    font-size: 50px;
    text-align: center;
  }

.input label {
    color: white;
    font-size: 35px;
    text-align: center;
}
.form {
    text-align: center;
}
.input input {
    font-size: 18px;
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 6px 12px;
}

.form button {
    background-color: #0dcaf0;
    color: white;
    width: 100px;
    padding: 10px 10px;
    margin: 20px;
}